<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dnui.forest.mapper.UserMapper">
    <insert id="insert">
        INSERT INTO user (name, time, phone, location, level, picture) VALUES
        (#{name}, #{time}, #{phone}, #{location}, #{level}, #{picture})
    </insert>

    <delete id="deleteById">
        DELETE FROM user WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE user
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="time != null">time = #{time},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="location != null and location != ''">location = #{location},</if>
            <if test="level != null and level != ''">level = #{level},</if>
            <if test="picture != null and picture != ''">picture = #{picture},</if>
            id = #{id}
        </set>
        WHERE id = #{id}
    </update>

    <select id="selectAll" resultType="com.dnui.forest.pojo.User">
        SELECT * FROM user
    </select>

    <select id="findByName" resultType="com.dnui.forest.pojo.User">
        SELECT * FROM user WHERE name = #{name}
    </select>


</mapper>
